@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(180deg, #BF8A49, #D9B89C);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #523b1f;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1 {
    color: #122611;
    text-align: center;
    text-shadow: 1px 1px 2px #060c0590;
}

h2 {
    color: #8C3D20;
}

p {
    text-align: justify;
}

