@charset "UTF-8";

body {
    background-color: rgb(255, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 234, 0);
    text-align: center;
}

h2 {
    color: white;
}

.link {
    text-decoration: none;
    color: yellow;
    background-color: purple;
}