@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #5C9951;
    margin: 0;
}

header {
    background-image: linear-gradient(180deg, #58CC43, #4F664A);
    font-family: 'Roboto Condensed', serif;
    color: white;
    height: fit-content;
    width: 100vw;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.438);
}

header > h1 {
    margin: 0px;
    padding: 20px;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.438);
}

header > p {
    width: 300px;
    margin: auto;
    padding: 20px;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.438);
}

header > nav {
    padding-top: 10px;
    text-align: left;
}

header > nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}